* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.para{
  margin: 50px;
}
.content{
    background-color: #37517e;
    color: white;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 18px;
}
.content > a{
    text-decoration: none;
    color: white;
}
.content > a:hover{
    color: #47b2e4;
}
/* .logo{
    width: 20%;
    margin-right: 120px;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin-left: 341px;;
    line-height: 2px;
} */
.logo{
  width: 20%;
}
.sub-menu{
    z-index: 1;
    height: 250px;
    width: 200px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 10px;
    display: none;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #fff;
    position: absolute;
    top: 50px;
    right: 520px;
}
.dropdown > a{
   padding-bottom: 5px;
}
.sub-menu > div{
    padding-bottom: 15px;
}



.dropdown:hover .sub-menu{
    display: block;
}
.sub-menu-2{
    height: 200px;
    width: 200px;
    padding: 15px;
    display: none;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #fff;
    color: black;
    position: absolute;
    top: 52px;
    left: 160px;
}
.dropdown-2:hover .sub-menu-2{
    display: block;
}
.sub-menu-2 > div{
    padding-bottom: 10px;
}
.btn{
    color: white;
    background-color:rgba(40, 58, 90, 0.9) ;
    border: 4px solid  #47b2e4;
    border-radius: 50px;
    font-size: 15px;
    padding: 10px;
}
.section-2{
    height: 700px;
    background-color:#37517e ;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    align-items: center;
}
 .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

@keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
  }

  .para{
    height:300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    font-family:'Jost', sans-serif ;
  }
  .para-1{
    font-weight: bolder;
    font-size: 48px;
    font-family:'Jost', sans-serif ;
    width: 70%;
  }
  .para-2{
    color: rgba(255, 255, 255, 0.6);
    font-size: 25px;
    width: 80%;
  }
  .para-3{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
  }
  .btn-1{
    text-align: center;
    text-decoration: none;
    width: 180px;
    color: white;
    padding: 15px;
    border: 2px solid #47b2e4;
    background-color:#47b2e4;
    border-radius: 50px;
  }
  .fa-circle-play{
    padding-right: 10px;
    font-size: 30px;
  }
  .video{
    color: white;
  }
  .video:hover .fa-circle-play{
    color: #47b2e4;
    transition: all .8s;
  }