.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: yellowgreen;
    border-radius: 15px;
    margin: 100px;
    transition: all 2s ease;
    transform: scale(1);
}
.box:hover .par{
    scale: 1;
   word-wrap: break-word;
}
.par{
    height: 150px;
    width: 150px;
    scale: 0;
    transition: 1s;
    object-fit: contain;
}
.box:hover{
    background-color: rgb(238,174,202);
    transform: scale(2);
    transform-style: preserve-3d;
    cursor: pointer;
    perspective: 1000;
    box-shadow: 10px 10px 0px red;
}

/* .box:hover:before{
    background-color: rgb(204, 25, 103);
    transform-origin: top;
    height: 300px;
    width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    content: '';
}  */
