body{
    background-color: black;
}
.main{
    margin: auto;
}
.para-1{
    margin: auto;
    width: 1853px;
    height: 550px;
    border: 1px solid black;
    background-color: #06a1a1;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 21px;
    margin-bottom: 10px;
}
.para-1 p{
    padding: 0px 19px;
}
.para-1 h1{
    font-family:'Indie Flower', cursive;
    text-align: center;
    color:#976933;
    margin: 0px;
}
.space{
    background-color: bisque;
}
.para-2{
    margin: auto;
    width: 1853px;
    height: 550px;
    border: 1px solid black;
    background-image: linear-gradient(#18213B,#124E50);
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    text-align: center;
    color: #e36161;
    font-size: 20px;
    margin-bottom: 10px;
}
.para-2 p{
    padding: 20px 43px;
}
.para-2 h1{
    font-family: 'Syne Mono', monospace;
    text-align: center;
    color:#976933;
    margin: 0px;
}
.para-3{
    margin: auto;
    width: 1853px;
    height: 550px;
    border: 1px solid black;
    background-image: url(tajmahal.jpg);
    background-size: 100%;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    text-align: center;
    color: #e36161;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-position: center;
}
.box-1{
    border: 5px solid white;
    height: 250px;
    width: 340px;
    display: inline-block;
}
.box-2{
    border: 10px double black;
    height: 250px;
    width: 340px; 
    display: inline-block;
}
.box-3{
    border: 10px dashed white;
    height: 250px;
    width: 340px;
    display: inline-block;
}
.similar{
    margin: 113px;
    margin-top: 154px;
}
.para-4{
    margin: auto;
    width: 1851px;
    height: 550px;
    background-image: url(Second.jpg);
    background-size: 50%;
    background-repeat: repeat;
    font-family: 'Patrick Hand', cursive;
    color: #e10d0d;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bolder;
}
.box-4{
    border: 5px double wheat;
    height: 250px;
    width: 340px;
    display: inline-block;
}
.box-5{
    border: 5px dashed black;
    height: 250px;
    width: 340px;
    display: inline-block;
}
.box-6{
    border: 5px solid #740d0d;
    height: 250px;
    width: 340px;
    display: inline-block;
}
.para-5{
    margin: auto;
    width: 1853px;
    height: 550px;
    border: 1px solid black;
    background-image: url(fourth.jpg);
    background-size: 100%;
    background-position: center;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    text-align: center;
    color: #e36161;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.para-6{
    margin: auto;
    width: 1853px;
    height: 550px;
    background-image: url(fixed.jpg);
    background-size: 100%;
    background-attachment: fixed;
    color: #e10d0d;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
    text-align: center;
    margin-bottom: 20px;
}
.para-7{
    margin: auto;
    width: 1853px;
    height: 550px;
    border: 1px solid black;
    background-image: url(fifth.jpg);
    background-size: 100%;
    background-position: center;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    text-align: center;
    color: #e36161;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.para-8{
    margin: auto;
    width: 1850px;
    height: 550px;
    background-image: url(sixth.jpg);
    background-size: 100%;
    background-position: center;
    color: #e10d0d;
    margin-bottom: 20px;
    text-align: center;
    box-sizing: border-box;
}
